<div class="basic-component">
    <div class="add-movie" *ngIf="authenticated">
        <button class="btn-link" routerLink="/add-movie">Add Movie</button>
    </div>
    <div id="movies-view">
        <div class="movie-card" *ngFor="let movie of movies">
            <img class="movie-headshot" src="http://placekitten.com/400/200">
            <div class="movie-stats">
                <h3>Name: {{movie.title}}</h3>
            </div>
            <!-- TODO movie-options should only be available for authenticated users -->
            <div class="movie-options">
                <ng-container *ngIf="authenticated;">
                    <button class="btn btn-update" routerLink="/update-movie" [queryParams]="{'movie_id': movie.id}">Update</button>
                    <button class="btn btn-delete" (click)="deleteMovie(movie.id)">Delete</button>
                </ng-container>
            </div>
        </div>
    </div>
    
</div>