<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .hello-api {
            display:flex;
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="hello-api">
        <h1>Hello API!</h1>
    </div>
    <div>
        <h2>Welcome to the Castify API!</h2>
        <p>Please use the CUrl requests according to the <a href="https://github.com/bjellesma/castify/blob/master/backend/readme.md">API reference documentation</a> to test the API</p>
        <p>Please use the following link to get a new access token: <a href="https://dev-cpb64ukj.us.auth0.com/authorize?audience=https://127.0.0.1:5000&response_type=token&client_id=caolVXfgEL9z2t67IMOhcl10alFoRDQs&redirect_uri=https://127.0.0.1:5000/login-results">https://dev-cpb64ukj.us.auth0.com/authorize?audience=https://127.0.0.1:5000&response_type=token&client_id=caolVXfgEL9z2t67IMOhcl10alFoRDQs&redirect_uri=https://127.0.0.1:5000/login-results</a></p>
    </div>
</body>
</html>